<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ES</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.coder_rat.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.coder_rat.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelfInsertServletCJ</servlet-name>
    <servlet-class>com.coder_rat.servlet.SelfInsertServletCJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfInsertServletCJ</servlet-name>
    <url-pattern>/selfInsertServletCJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoExportServlet</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoExportServlet</servlet-name>
    <url-pattern>/autoExportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoInsertServletCJ</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoInsertServletCJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInsertServletCJ</servlet-name>
    <url-pattern>/autoInsertServletCJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoInsertServletCJQ</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoInsertServletCJQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInsertServletCJQ</servlet-name>
    <url-pattern>/autoInsertServletCJQ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoInsertServletCS</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoInsertServletCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInsertServletCS</servlet-name>
    <url-pattern>/autoInsertServletCS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoInsertServletCppJ</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoInsertServletCppJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInsertServletCppJ</servlet-name>
    <url-pattern>/autoInsertServletCppJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoInsertServletCppS</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoInsertServletCppS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInsertServletCppS</servlet-name>
    <url-pattern>/autoInsertServletCppS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoInsertServletCppJQ</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoInsertServletCppJQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInsertServletCppJQ</servlet-name>
    <url-pattern>/autoInsertServletCppJQ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoInsertServletJJ</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoInsertServletJJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInsertServletJJ</servlet-name>
    <url-pattern>/autoInsertServletJJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoInsertServletJS</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoInsertServletJS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInsertServletJS</servlet-name>
    <url-pattern>/autoInsertServletJS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoInsertServletJJQ</servlet-name>
    <servlet-class>com.coder_rat.servlet.AutoInsertServletJJQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoInsertServletJJQ</servlet-name>
    <url-pattern>/autoInsertServletJJQ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelfInsertServletCS</servlet-name>
    <servlet-class>com.coder_rat.servlet.SelfInsertServletCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfInsertServletCS</servlet-name>
    <url-pattern>/selfInsertServletCS</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelfInsertServletCJQ</servlet-name>
    <servlet-class>com.coder_rat.servlet.SelfInsertServletCJQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfInsertServletCJQ</servlet-name>
    <url-pattern>/selfInsertServletCJQ</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelfInsertServletCppJ</servlet-name>
    <servlet-class>com.coder_rat.servlet.SelfInsertServletCppJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfInsertServletCppJ</servlet-name>
    <url-pattern>/selfInsertServletCppJ</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelfInsertServletCppS</servlet-name>
    <servlet-class>com.coder_rat.servlet.SelfInsertServletCppS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfInsertServletCppS</servlet-name>
    <url-pattern>/selfInsertServletCppS</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelfInsertServletCppJQ</servlet-name>
    <servlet-class>com.coder_rat.servlet.SelfInsertServletCppJQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfInsertServletCppJQ</servlet-name>
    <url-pattern>/selfInsertServletCppJQ</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelfInsertServletJJ</servlet-name>
    <servlet-class>com.coder_rat.servlet.SelfInsertServletJJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfInsertServletJJ</servlet-name>
    <url-pattern>/selfInsertServletJJ</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelfInsertServletJS</servlet-name>
    <servlet-class>com.coder_rat.servlet.SelfInsertServletJS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfInsertServletJS</servlet-name>
    <url-pattern>/selfInsertServletJS</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelfInsertServletJJQ</servlet-name>
    <servlet-class>com.coder_rat.servlet.SelfInsertServletJJQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfInsertServletJJQ</servlet-name>
    <url-pattern>/selfInsertServletJJQ</url-pattern>
  </servlet-mapping>
 
   <servlet>
    <servlet-name>PreviewServletCJ</servlet-name>
    <servlet-class>com.coder_rat.servlet.PreviewServletCJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewServletCJ</servlet-name>
    <url-pattern>/previewServletCJ</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PreviewServletCS</servlet-name>
    <servlet-class>com.coder_rat.servlet.PreviewServletCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewServletCS</servlet-name>
    <url-pattern>/previewServletCS</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PreviewServletCJQ</servlet-name>
    <servlet-class>com.coder_rat.servlet.PreviewServletCJQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewServletCJQ</servlet-name>
    <url-pattern>/previewServletCJQ</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PreviewServletCppJ</servlet-name>
    <servlet-class>com.coder_rat.servlet.PreviewServletCppJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewServletCppJ</servlet-name>
    <url-pattern>/previewServletCppJ</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PreviewServletCppS</servlet-name>
    <servlet-class>com.coder_rat.servlet.PreviewServletCppS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewServletCppS</servlet-name>
    <url-pattern>/previewServletCppS</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PreviewServletCppJQ</servlet-name>
    <servlet-class>com.coder_rat.servlet.PreviewServletCppJQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewServletCppJQ</servlet-name>
    <url-pattern>/previewServletCppJQ</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PreviewServletJJ</servlet-name>
    <servlet-class>com.coder_rat.servlet.PreviewServletJJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewServletJJ</servlet-name>
    <url-pattern>/previewServletJJ</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PreviewServletJS</servlet-name>
    <servlet-class>com.coder_rat.servlet.PreviewServletJS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewServletJS</servlet-name>
    <url-pattern>/previewServletJS</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PreviewServletJJQ</servlet-name>
    <servlet-class>com.coder_rat.servlet.PreviewServletJJQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewServletJJQ</servlet-name>
    <url-pattern>/previewServletJJQ</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>